// $==> about page 
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// Keyframe animation
@-webkit-keyframes fadeInList {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-right {
    from {
        margin-left: -100%;
    }
    to {
        margin-left: 0%;
    }
}

@keyframes slide-left {
    from {
        margin-left: 120%;
    }
    to {
        margin-left: 0%;
    }
}

// ==> map section 
div.map {
    height: 300px;
    #map {
        height: 300px;
    }
}
  
body.services {
    .service-home-col-0 {
        display: none;
    }
    .sidebar-services {
        li {
            width: 30%;
            display: inline-block;
            margin-right: 2%;
        }
    }
}

body.products {
    .product-home {
        padding-top: 1rem;
        background: transparent !important;
        .section-heading,
        .button {
            display: none;
        }
        h3,
        p {
            color: $base-color-dark !important;
        }
    }
}

// .contact {
//     .innerPage {
//         &-header {
//             background: url(../img/inner-banner.jpg)no-repeat;
//             background-position: 50% 50%;
//             background-size: cover;
//         }
//     }
// }
// .portfolio {
//     .innerPage-header {
//         background: url(../img/inner/portfolio.jpg)no-repeat;
//         background-position: 50% 50%;
//         background-size: cover;
//     }
// }
// .about {
//     .innerPage-header {
//         background: url(../img/inner/about.jpg)no-repeat;
//         background-position: 50% 50%;
//         background-size: cover;
//     }
// }
.innerPage {
    padding-bottom: 2rem;
    &-header {
        background: url(../img/inner-banner.jpg)no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        padding: {
            top: 10em;
            bottom: 3rem;
        }
        color: #fff;
        @include media-breakpoint-down(sm) {
            padding: {
                top: 10rem; 
            } 
        }
    }
    &-content {
        h2,
        h3,
        h4 {
            color: #393939;
        }
        a {
            color:$highlight;
        }
    }
    .owl-nav { 
        width: 100%;
        button {
            position: absolute;
        }
        // .owl-prev {
        //     left: 5%;
        // }
        // .owl-next {
        //     right: 7%;
        // }
    }
    .owl-carousel .owl-item img{
         height: auto;
    }   
}


.owl-nav {
    position: absolute;
    top: 42%;
    width: 100%; 
  //   display: block; 
  
  @include media-breakpoint-down(sm) {
      top:35%;    
  }
  
  i {
      color:$highlight; 
      &:hover { 
          color:#000 !important;
      }
  }
  .owl-prev,
  .owl-next{
      position: absolute;  
      top: 0;
      text-align: left;
      left: 0;
  }  
  .owl-next{
      left: unset;
      right: 0%;
      text-align: right; 
  } 

}

.requestService {
    ul {
        li {
            margin-right: 1rem;
            display: inline-table;
            @include media-breakpoint-up(sm) {
                .req-phone {
                    font-size: 1.5rem;
                }
            }
            @include media-breakpoint-down(sm) {
                .button {
                    padding: .5rem 1rem;
                }
            }
        }
    }
}

.sidebar-services {
    text-transform: uppercase;
    li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        &:last-child {
            border-bottom: 0;
        }
        a {
            display: block;
            padding: .8rem 0;
            color: #000;
            font-family: $nav-font-family;
            font-size: $base-font-size * 1.3;
            letter-spacing: 1px;
            &:hover {
                color: $highlight2;
            }
        }
    }
}

.sidebar-review {
    li {
        flex: 1;
    }
}
body.products{
    .innerPage{
        .section.p-h{
            .button_primary {
                display: none;
            }
        }
    }
}
body.services{
 .innerPage{
     .sidebar-services h2{
         color: #000;
     }
     .service-carousel{
         .owl-item{
             background-color: $base-dark-black;
             h3{
                 
                padding: 0 1rem;
             }
             p{  
                    text-transform: none; 
                    padding: 0 1rem;
             }
         }
         .owl-nav{
            top: 28%;
            @media (min-width:1200px) and (max-width:1600px) {
                top: 20%;
            }
            @include media-breakpoint-down(sm){
                top: 20%;
            }
         }
     }
 }
}